@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Nunito:wght@400;600;700&family=Roboto+Slab:wght@400;500;700&display=swap");
@import url(../libs/slick/slick.css);
@import url(../libs/slick/slick-theme.css);
.header-image img {
  width: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: unset;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  line-height: 1.33;
  color: var(--primary-font-color);
  background-color: #fff; }
  body p {
    color: var(--primary-font-color);
    word-wrap: break-word;
    word-break: break-word;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; }
  body section {
    word-break: break-word; }

h1, h2, h3, h4, h5, em {
  color: var(--primary-font-color);
  margin-bottom: 0; }
  h1 span, h2 span, h3 span, h4 span, h5 span, em span {
    color: var(--supporting-color);
    font-size: inherit;
    font-weight: inherit; }

h1 {
  font-family: var(--secondary-font);
  font-size: 3.33rem;
  font-weight: var(--secondary-font-weight);
  line-height: 28px;
  line-height: 80px; }

h2 {
  font-family: var(--secondary-font);
  font-size: 2.77rem;
  font-weight: var(--secondary-font-weight);
  line-height: 28px;
  line-height: 60px; }

h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: var(--secondary-font-weight);
  line-height: 28px;
  line-height: 48px; }

h4 {
  font-family: var(--secondary-font);
  font-size: 1.55rem;
  font-weight: var(--secondary-font-weight);
  line-height: 28px;
  line-height: 32px; }

h5 {
  font-family: var(--secondary-font);
  font-size: 1.15rem;
  font-weight: var(--secondary-font-weight);
  line-height: 28px;
  line-height: 28px; }

strong {
  color: var(--primary-color);
  font-weight: 700; }

a {
  color: var(--primary-link-color);
  text-decoration: underline;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  a:hover {
    color: var(--primary-link-hover-color); }

span {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #958f9a; }

@media all and (max-width: 992px) {
  h1 {
    font-family: var(--secondary-font);
    font-size: 2.77rem;
    font-weight: var(--secondary-font-weight);
    line-height: 28px;
    line-height: 48px; }
  h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: var(--secondary-font-weight);
    line-height: 28px;
    line-height: 42px; }
  h3 {
    font-family: var(--secondary-font);
    font-size: 1.55rem;
    font-weight: var(--secondary-font-weight);
    line-height: 28px;
    line-height: 32px; }
  h4 {
    font-family: var(--secondary-font);
    font-size: 1.15rem;
    font-weight: var(--secondary-font-weight);
    line-height: 28px;
    line-height: 30px; }
  h5 {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: var(--secondary-font-weight);
    line-height: 28px;
    line-height: 28px; }
  a {
    font-size: 18px; } }

html, body {
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth; }
  @media all and (max-width: 992px) {
    html, body {
      font-size: 14px; } }
  @media all and (min-width: 992px) {
    html, body {
      font-size: 16px; } }
  @media all and (min-width: 1440px) {
    html, body {
      font-size: 18px; } }
  @media all and (min-width: 2560px) {
    html, body {
      font-size: 20px; } }

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative; }
  @media all and (min-width: 1500px) {
    body .container-md {
      max-width: 1310px; } }
  @media all and (min-width: 1920px) {
    body .container-md {
      max-width: 1640px; } }
  body main {
    flex: 1 0 auto; }
  body img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto; }

.navbar-container.menu-top {
  background-color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

.navbar-container.navbar-scroll {
  box-shadow: 0 0 20px #0000001F; }

.navbar-container .navbar {
  min-height: 60px;
  z-index: 999; }
  @media (min-width: 993px) {
    .navbar-container .navbar {
      align-items: center;
      justify-content: center;
      min-height: 120px;
      padding: 0; } }
  .navbar-container .navbar .navbar-brand {
    z-index: 20;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 60px; }
    .navbar-container .navbar .navbar-brand a {
      text-decoration: none;
      color: #535353;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      padding-right: 24px;
      font-family: var(--secondary-font);
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 28px; }
      @media (max-width: 992px) {
        .navbar-container .navbar .navbar-brand a {
          padding-right: 20px; } }
      @media (min-width: 2560px) {
        .navbar-container .navbar .navbar-brand a {
          font-size: 1.15rem; } }
      .navbar-container .navbar .navbar-brand a:hover {
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        color: var(--primary-link-color); }
      .navbar-container .navbar .navbar-brand a img {
        width: auto;
        max-height: 54px;
        height: 54px; }
        @media (max-width: 1024px) {
          .navbar-container .navbar .navbar-brand a img {
            max-height: 40px;
            height: 40px; } }
  .navbar-container .navbar .navbar-toggler {
    border: none;
    min-height: 60px; }
    .navbar-container .navbar .navbar-toggler i {
      font-size: 2rem; }
    .navbar-container .navbar .navbar-toggler:focus {
      box-shadow: none; }
  .navbar-container .navbar #navbarNav {
    position: relative;
    z-index: 20;
    justify-content: center; }
    @media (max-width: 992px) {
      .navbar-container .navbar #navbarNav {
        padding: 1.5rem; } }
    .navbar-container .navbar #navbarNav ul {
      align-items: center;
      padding-right: 0; }
      .navbar-container .navbar #navbarNav ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap; }
        .navbar-container .navbar #navbarNav ul li:last-child {
          margin-right: 0; }
        .navbar-container .navbar #navbarNav ul li a {
          text-decoration: none;
          color: #535353;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -o-transition: 0.4s ease-in-out;
          transition: 0.4s ease-in-out;
          display: inline-block;
          position: relative;
          margin-right: 2rem;
          margin-top: .3rem;
          padding: 0;
          font-family: var(--secondary-font);
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 28px; }
          .navbar-container .navbar #navbarNav ul li a:hover {
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
            color: var(--primary-link-color); }
          @media (max-width: 992px) {
            .navbar-container .navbar #navbarNav ul li a {
              margin-right: 0;
              margin-top: 0;
              margin-bottom: 1.5rem; } }
          @media (min-width: 2560px) {
            .navbar-container .navbar #navbarNav ul li a {
              font-size: 1.15rem; } }
        .navbar-container .navbar #navbarNav ul li.active a {
          color: var(--primary-link-color); }
        .navbar-container .navbar #navbarNav ul li.menu-item-has-children {
          position: relative; }
          .navbar-container .navbar #navbarNav ul li.menu-item-has-children.active a {
            color: initial; }
    .navbar-container .navbar #navbarNav .dropdown-menu {
      background-color: #fff; }
      .navbar-container .navbar #navbarNav .dropdown-menu a {
        color: #535353; }
    .navbar-container .navbar #navbarNav #social-icons {
      display: flex; }
      @media (max-width: 992px) {
        .navbar-container .navbar #navbarNav #social-icons {
          justify-content: center;
          margin-bottom: 1rem; } }
      @media (max-width: 992px) {
        .navbar-container .navbar #navbarNav #social-icons .social-icon:last-child a {
          margin-right: 0; } }
      .navbar-container .navbar #navbarNav #social-icons .social-icon a {
        margin-right: .9rem; }
        .navbar-container .navbar #navbarNav #social-icons .social-icon a i {
          color: #fff;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          background-color: black; }
          .navbar-container .navbar #navbarNav #social-icons .social-icon a i:before {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; }
  .navbar-container .navbar .language-dropdown {
    position: relative;
    cursor: pointer;
    color: #535353;
    text-transform: uppercase; }
    .navbar-container .navbar .language-dropdown .dropdown-toggle {
      display: flex;
      align-items: center;
      padding: 0 .5rem; }
      .navbar-container .navbar .language-dropdown .dropdown-toggle a {
        color: #535353;
        font-family: var(--secondary-font);
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 28px;
        line-height: 28px;
        margin-top: .3rem; }
        .navbar-container .navbar .language-dropdown .dropdown-toggle a:hover {
          color: var(--primary-link-color); }
        @media (min-width: 2560px) {
          .navbar-container .navbar .language-dropdown .dropdown-toggle a {
            font-size: 1.15rem; } }
      .navbar-container .navbar .language-dropdown .dropdown-toggle::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        font-size: inherit;
        content: "\f107";
        display: inline-block;
        vertical-align: baseline;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        border: none; }
      .navbar-container .navbar .language-dropdown .dropdown-toggle:hover {
        color: var(--primary-link-color); }
        .navbar-container .navbar .language-dropdown .dropdown-toggle:hover::after {
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          -o-transition: 0.4s ease-in-out;
          transition: 0.4s ease-in-out;
          transform: rotate(-180deg); }
      .navbar-container .navbar .language-dropdown .dropdown-toggle.hoverstate::after {
        transform: rotate(-180deg); }
    .navbar-container .navbar .language-dropdown .other-language {
      position: absolute;
      color: #535353;
      padding: 0 .5rem;
      min-width: 100%;
      flex-flow: column wrap;
      background: #fff;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      border: none;
      visibility: hidden;
      opacity: 0; }
      .navbar-container .navbar .language-dropdown .other-language.show {
        visibility: visible;
        opacity: 1; }
    .navbar-container .navbar .language-dropdown .language-item {
      color: #535353;
      font-family: var(--secondary-font);
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 28px;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      text-decoration: none;
      margin-right: 0;
      padding: .4rem 0 0;
      display: inline-flex; }
      .navbar-container .navbar .language-dropdown .language-item:last-of-type {
        padding-bottom: .4rem; }
      .navbar-container .navbar .language-dropdown .language-item::before {
        display: none; }
      .navbar-container .navbar .language-dropdown .language-item::after {
        display: none; }
      .navbar-container .navbar .language-dropdown .language-item:hover {
        color: var(--primary-link-color); }
      @media (min-width: 2560px) {
        .navbar-container .navbar .language-dropdown .language-item {
          font-size: 1.15rem; } }
  .navbar-container .navbar .languages {
    text-transform: uppercase;
    display: flex;
    justify-content: center; }
    .navbar-container .navbar .languages a {
      color: #535353;
      font-family: var(--secondary-font);
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 28px;
      line-height: 28px;
      padding-right: .9rem; }
      .navbar-container .navbar .languages a:last-child {
        padding-right: 0; }
      @media (min-width: 2560px) {
        .navbar-container .navbar .languages a {
          font-size: 1.15rem; } }
    .navbar-container .navbar .languages .current-language a {
      padding-right: .9rem;
      color: var(--primary-link-color); }

.menu-flyout, .menu-flyout-small {
  flex-flow: row wrap; }
  .menu-flyout .large, .menu-flyout .small, .menu-flyout-small .large, .menu-flyout-small .small {
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    z-index: 999; }
    @media (min-width: 993px) {
      .menu-flyout .large, .menu-flyout .small, .menu-flyout-small .large, .menu-flyout-small .small {
        align-items: center;
        min-height: 120px;
        padding: 0; } }

.navbar-brand, .overlay-brand {
  z-index: 20;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 50px; }
  .navbar-brand a, .overlay-brand a {
    text-decoration: none;
    color: #535353;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    padding-right: 24px;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px; }
    @media (max-width: 992px) {
      .navbar-brand a, .overlay-brand a {
        padding-right: 20px; } }
    .navbar-brand a:hover, .overlay-brand a:hover {
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      color: var(--primary-link-color); }
    .navbar-brand a img, .overlay-brand a img {
      width: auto;
      max-height: 60px;
      height: 100%; }
      @media (max-width: 1024px) {
        .navbar-brand a img, .overlay-brand a img {
          max-height: 50px;
          height: 100%; } }

.overlay-brand {
  margin-bottom: 40%; }
  .overlay-brand a {
    padding-right: 0; }

.menu-button-wrapper {
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  z-index: 9999;
  height: 100%;
  width: 40px; }
  .menu-button-wrapper .menu-button {
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .menu-button-wrapper .menu-button span {
      display: block;
      position: absolute;
      right: 0;
      width: 40px;
      height: 8px;
      background: var(--primary-color);
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      top: 2px; }
      .menu-button-wrapper .menu-button span:nth-child(4) {
        background: var(--primary-color); }
    .menu-button-wrapper .menu-button span:nth-child(2), .menu-button-wrapper .menu-button span:nth-child(3) {
      top: auto; }
    .menu-button-wrapper .menu-button span:nth-child(4) {
      top: 30px; }
    .menu-button-wrapper .menu-button.open span:nth-child(1),
    .menu-button-wrapper .menu-button.open span:nth-child(4) {
      top: 12px;
      width: 0;
      opacity: 0; }
    .menu-button-wrapper .menu-button.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #fff; }
    .menu-button-wrapper .menu-button.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #fff; }

#nav-menu-overlay, #nav-menu-overlay-small {
  display: flex;
  color: #fff;
  top: 0;
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background-color: var(--primary-color);
  z-index: 999; }
  #nav-menu-overlay.open, #nav-menu-overlay-small.open {
    right: 0;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
  #nav-menu-overlay .menu-content, #nav-menu-overlay-small .menu-content {
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    flex-flow: column;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center; }
    #nav-menu-overlay .menu-content .main-menu, #nav-menu-overlay-small .menu-content .main-menu {
      align-items: center;
      padding: 0;
      margin: 0 0 30% 0;
      text-align: center; }
      #nav-menu-overlay .menu-content .main-menu li, #nav-menu-overlay-small .menu-content .main-menu li {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap; }
        #nav-menu-overlay .menu-content .main-menu li a, #nav-menu-overlay-small .menu-content .main-menu li a {
          text-transform: uppercase;
          font-family: var(--secondary-font);
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 28px;
          text-decoration: none;
          margin-bottom: 1.5rem;
          padding: 0; }
        #nav-menu-overlay .menu-content .main-menu li.active a, #nav-menu-overlay-small .menu-content .main-menu li.active a {
          color: #fff;
          text-decoration: underline; }
    #nav-menu-overlay .menu-content .menu-main-menu-container, #nav-menu-overlay-small .menu-content .menu-main-menu-container {
      display: flex; }
    #nav-menu-overlay .menu-content a, #nav-menu-overlay-small .menu-content a {
      color: #fff; }
    #nav-menu-overlay .menu-content #social-icons, #nav-menu-overlay-small .menu-content #social-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem; }
      #nav-menu-overlay .menu-content #social-icons .social-icon a, #nav-menu-overlay-small .menu-content #social-icons .social-icon a {
        margin-right: .9rem; }
        #nav-menu-overlay .menu-content #social-icons .social-icon a i, #nav-menu-overlay-small .menu-content #social-icons .social-icon a i {
          color: var(--primary-color);
          width: 35px;
          height: 35px;
          border-radius: 50px;
          background-color: #fff; }
          #nav-menu-overlay .menu-content #social-icons .social-icon a i:before, #nav-menu-overlay-small .menu-content #social-icons .social-icon a i:before {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; }
      #nav-menu-overlay .menu-content #social-icons .social-icon:last-child a, #nav-menu-overlay-small .menu-content #social-icons .social-icon:last-child a {
        margin-right: 0; }
    #nav-menu-overlay .menu-content .languages, #nav-menu-overlay-small .menu-content .languages {
      text-transform: uppercase;
      display: flex;
      justify-content: center; }
      #nav-menu-overlay .menu-content .languages a, #nav-menu-overlay-small .menu-content .languages a {
        color: #fff;
        font-family: var(--secondary-font);
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 28px;
        line-height: 28px;
        padding-right: .9rem; }
        #nav-menu-overlay .menu-content .languages a:last-child, #nav-menu-overlay-small .menu-content .languages a:last-child {
          padding-right: 0; }
      #nav-menu-overlay .menu-content .languages .current-language a, #nav-menu-overlay-small .menu-content .languages .current-language a {
        padding-right: .9rem;
        color: #fff;
        text-decoration: underline; }
      #nav-menu-overlay .menu-content .languages .other-language a, #nav-menu-overlay-small .menu-content .languages .other-language a {
        text-decoration: none; }

#nav-menu-overlay-small {
  width: 60vw; }
  @media (min-width: 768px) {
    #nav-menu-overlay-small {
      width: 50vw; } }
  @media (min-width: 992px) {
    #nav-menu-overlay-small {
      width: 40vw; } }
  @media (min-width: 1440px) {
    #nav-menu-overlay-small {
      width: 30vw; } }
  @media (min-width: 1640px) {
    #nav-menu-overlay-small {
      width: 20vw; } }

footer {
  flex-shrink: 0;
  background-color: var(--primary-color);
  color: #fff; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      text-decoration: none; }
  footer .footer-menu {
    padding: 55px 0; }
    @media (max-width: 992px) {
      footer .footer-menu {
        padding: 30px 0; } }
    footer .footer-menu .footer-menu-logo {
      height: 80px; }
      footer .footer-menu .footer-menu-logo a {
        display: inline-block; }
      footer .footer-menu .footer-menu-logo img {
        max-height: 80px; }
        @media (max-width: 767px) {
          footer .footer-menu .footer-menu-logo img {
            height: 100%; } }
    footer .footer-menu .copyright-contact-wrapper .copyright {
      font-family: var(--secondary-font);
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 28px;
      line-height: 16px; }
    footer .footer-menu .copyright-contact-wrapper .contact-information p {
      font-family: var(--secondary-font);
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 28px;
      line-height: 16px;
      color: #fff;
      margin-bottom: 0; }
      footer .footer-menu .copyright-contact-wrapper .contact-information p:nth-of-type(1n+3) {
        margin-bottom: 10px; }
      footer .footer-menu .copyright-contact-wrapper .contact-information p a {
        padding: 0;
        color: #fff;
        text-decoration: none; }
        footer .footer-menu .copyright-contact-wrapper .contact-information p a:hover {
          color: #fff;
          text-decoration: underline; }
    footer .footer-menu .socials-phone-wrapper #social-icons {
      display: flex;
      margin-bottom: 1rem; }
      footer .footer-menu .socials-phone-wrapper #social-icons .social-icon a {
        margin-right: .9rem; }
        footer .footer-menu .socials-phone-wrapper #social-icons .social-icon a i {
          color: var(--primary-color);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff; }
          footer .footer-menu .socials-phone-wrapper #social-icons .social-icon a i:before {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; }
      footer .footer-menu .socials-phone-wrapper #social-icons .social-icon:last-child a {
        margin-right: 0; }
    footer .footer-menu .socials-phone-wrapper a {
      font-family: var(--secondary-font);
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 28px;
      line-height: 16px;
      padding: 0;
      color: #fff;
      text-decoration: none; }
      footer .footer-menu .socials-phone-wrapper a:hover {
        color: #fff;
        text-decoration: underline; }
    footer .footer-menu #footer-nav-pages h6, footer .footer-menu #footer-nav-policies h6 {
      font-family: var(--secondary-font);
      font-size: 0.8rem;
      font-weight: 800;
      line-height: 28px;
      line-height: 16px;
      height: 80px;
      display: flex;
      align-items: center;
      margin-bottom: 0; }
    footer .footer-menu #footer-nav-pages ul, footer .footer-menu #footer-nav-policies ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-menu #footer-nav-pages ul li a, footer .footer-menu #footer-nav-policies ul li a {
        font-family: var(--secondary-font);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 28px;
        line-height: 16px;
        padding: 0 0 10px 0;
        color: #fff;
        text-decoration: none; }
        footer .footer-menu #footer-nav-pages ul li a:hover, footer .footer-menu #footer-nav-policies ul li a:hover {
          color: #fff;
          text-decoration: underline; }
    footer .footer-menu .certs-org-title h6 {
      font-family: var(--secondary-font);
      font-size: 0.8rem;
      font-weight: 800;
      line-height: 28px;
      line-height: 16px;
      height: 80px;
      display: flex;
      align-items: center;
      margin-bottom: 0; }
    footer .footer-menu .certs-org-logo-wrapper {
      flex-flow: row wrap;
      justify-content: space-between; }
      footer .footer-menu .certs-org-logo-wrapper .footer-certs-org-logo {
        height: auto;
        margin-bottom: 0;
        position: relative;
        display: flex;
        align-items: center; }
        footer .footer-menu .certs-org-logo-wrapper .footer-certs-org-logo a {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%; }
        footer .footer-menu .certs-org-logo-wrapper .footer-certs-org-logo img {
          max-height: 65px;
          margin-bottom: 1rem; }
          @media (max-width: 767px) {
            footer .footer-menu .certs-org-logo-wrapper .footer-certs-org-logo img {
              height: auto; } }

.form-control {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 28px;
  border: none;
  border-bottom: 2px solid var(--primary-link-color);
  border-radius: 0;
  color: var(--primary-link-color); }
  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    color: var(--primary-link-color);
    border-bottom: 2px solid var(--primary-link-color); }

.form-check {
  padding-left: 0; }
  .form-check input {
    margin-top: 0;
    margin-left: 0; }

.slick-arrow {
  display: block;
  width: 50px;
  bottom: 20px;
  height: 25px;
  position: absolute;
  z-index: 9;
  cursor: pointer; }
  .slick-arrow:before {
    color: #fff;
    position: absolute;
    font-size: 20px; }
  .slick-arrow.prev {
    left: 75px;
    display: flex;
    justify-content: start; }
    @media (max-width: 768px) {
      .slick-arrow.prev {
        left: 35px; } }
  .slick-arrow.next {
    right: 75px;
    display: flex;
    justify-content: end; }
    @media (max-width: 768px) {
      .slick-arrow.next {
        right: 35px; } }

.btn {
  min-width: auto;
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 28px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  text-decoration: none; }
  .btn .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .btn .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .btn .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .btn .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: transparent;
  padding: 12px 50px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .btn-primary span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .btn-primary:hover {
    background-color: var(--primary-color); }
    .btn-primary:hover span {
      transform: scale(1.1); }
  .btn-primary:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
  .btn-primary .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .btn-primary .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-primary .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .btn-primary .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-primary .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .btn-primary .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-primary.outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 0.2rem solid var(--primary-color); }

.btn-secondary {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: transparent;
  padding: 8px 25px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .btn-secondary span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .btn-secondary:hover {
    background-color: var(--secondary-color); }
    .btn-secondary:hover span {
      transform: scale(1.1); }
  .btn-secondary:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
  .btn-secondary .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .btn-secondary .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .btn-secondary .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-secondary .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .btn-secondary .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-secondary.outline {
    background-color: transparent;
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color); }

.btn-supporting {
  color: #fff;
  background-color: var(--supporting-color);
  border-color: transparent;
  padding: 8px 25px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .btn-supporting span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .btn-supporting:hover {
    background-color: var(--supporting-color); }
    .btn-supporting:hover span {
      transform: scale(1.1); }
  .btn-supporting:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
  .btn-supporting .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .btn-supporting .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-supporting .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .btn-supporting .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-supporting .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .btn-supporting .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .btn-supporting.outline {
    background-color: transparent;
    color: var(--supporting-color);
    border: 0.2rem solid var(--supporting-color); }

main [class*='lazyblock-'] {
  background-color: transparent;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  @media all and (max-width: 768px) {
    main [class*='lazyblock-'] {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }

main .main-content div:last-of-type.lazyblock-subscribe-form, main .single-post-wrapper div:last-of-type.lazyblock-subscribe-form, main .single-event-wrapper div:last-of-type.lazyblock-subscribe-form, main .single-job-wrapper div:last-of-type.lazyblock-subscribe-form, main .single-project-wrapper div:last-of-type.lazyblock-subscribe-form {
  padding-bottom: 0; }

.lazyblock-form {
  overflow: hidden;
  border-radius: calc(var(--border-radius) * 2.5);
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 20px #0000001F;
  padding: 3rem 5rem; }
  .lazyblock-form h2 {
    padding-bottom: 3rem; }
  .lazyblock-form #contact-form .contact-information {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between; }
  .lazyblock-form #contact-form #contactSubmit {
    margin-top: 3rem; }
  .lazyblock-form input, .lazyblock-form textarea {
    margin-bottom: 16px;
    background-color: transparent; }
    .lazyblock-form input::placeholder, .lazyblock-form textarea::placeholder {
      color: var(--primary-link-color); }
    .lazyblock-form input::-webkit-input-placeholder, .lazyblock-form textarea::-webkit-input-placeholder {
      color: var(--primary-link-color); }
    .lazyblock-form input:-ms-input-placeholder, .lazyblock-form textarea:-ms-input-placeholder {
      color: var(--primary-link-color); }

.icon-bar {
  float: right;
  margin-left: 15px; }
  .icon-bar a, .icon-bar a:link, .icon-bar a:visited, .icon-bar a:active, .icon-bar a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff; }

nav.pagination > * {
  line-height: 36px !important;
  font-size: 18px !important; }

nav.pagination h2 {
  margin-right: 15px; }

nav.pagination .nav-links > * {
  padding: 0 2px; }

.search-form button {
  border: 0 solid;
  background: transparent;
  color: #fff; }

.search-form input {
  padding: 2px 5px;
  border: 1px solid #029EA3;
  border-radius: 5px; }

.search-form-item {
  align-self: center; }
  @media all and (max-width: 1285px) {
    .search-form-item {
      display: none !important; } }

.search-wrapper {
  border-bottom: 1px solid #223B4C; }

.lazyblock-spacer {
  display: none; }
  @media all and (min-width: 992px) {
    .lazyblock-spacer {
      display: block; } }

.lazyblock-content p {
  margin: 1.2rem 0; }

.lazyblock-content-content p {
  margin: 1.2rem 0; }

.lazyblock-content-content .blockquote-line * {
  position: relative;
  padding: 0 0 0 35px; }
  .lazyblock-content-content .blockquote-line *::before {
    content: "";
    border-left: 10px solid var(--secondary-color);
    position: absolute;
    bottom: .3rem;
    top: .3rem;
    left: 0;
    border-radius: var(--border-radius); }

.lazyblock-section {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem; }
  @media all and (max-width: 768px) {
    .lazyblock-section {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem; } }
  .lazyblock-section .row .col-lg-12 .container-md {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .lazyblock-section.container-md, .lazyblock-section.container-fluid {
    position: relative;
    overflow: hidden; }
    .lazyblock-section.container-md .container-image, .lazyblock-section.container-md .container-color, .lazyblock-section.container-md .fluid-image, .lazyblock-section.container-md .fluid-color, .lazyblock-section.container-fluid .container-image, .lazyblock-section.container-fluid .container-color, .lazyblock-section.container-fluid .fluid-image, .lazyblock-section.container-fluid .fluid-color {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -10; }
  .lazyblock-section .container-color, .lazyblock-section .fluid-color {
    opacity: 15%; }
    .lazyblock-section .container-color.primary, .lazyblock-section .fluid-color.primary {
      background-color: var(--primary-color); }
    .lazyblock-section .container-color.secondary, .lazyblock-section .fluid-color.secondary {
      background-color: var(--secondary-color); }
    .lazyblock-section .container-color.supporting, .lazyblock-section .fluid-color.supporting {
      background-color: var(--supporting-color); }

.lazyblock-cards {
  align-items: stretch;
  position: relative; }
  .lazyblock-cards .card {
    border: none;
    border-radius: calc(var(--border-radius) * 2.5);
    background-color: #fff;
    box-shadow: 0 0 20px #0000001F;
    overflow: hidden; }
    .lazyblock-cards .card .card-img-wrapper {
      max-height: 185px;
      min-height: 185px;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center; }
      .lazyblock-cards .card .card-img-wrapper img {
        top: 0;
        min-width: 100%;
        width: auto;
        max-width: 100vw;
        height: 100%;
        object-fit: cover; }
        @media (max-width: 992px) {
          .lazyblock-cards .card .card-img-wrapper img {
            max-width: 1000vw;
            object-fit: cover; } }
      .lazyblock-cards .card .card-img-wrapper .image-line::after {
        content: "";
        border-bottom: 10px solid var(--secondary-color);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 185px; }
    .lazyblock-cards .card .card-body {
      display: flex;
      padding: 1.75rem 2rem 0; }
      .lazyblock-cards .card .card-body .card-title {
        width: 100%;
        height: 100%;
        margin-bottom: 0; }
        .lazyblock-cards .card .card-body .card-title p {
          font-family: var(--secondary-font);
          font-size: 1rem;
          font-weight: 700;
          line-height: 28px;
          line-height: 24px; }
      .lazyblock-cards .card .card-body .card-text {
        height: 100%; }
    .lazyblock-cards .card .card-footer {
      border: none;
      background-color: transparent;
      padding: 0 2rem 1.75rem; }
      .lazyblock-cards .card .card-footer a {
        height: 100%;
        width: 100%;
        display: block;
        font-family: var(--secondary-font);
        font-size: 0.87rem;
        font-weight: 600;
        line-height: 28px;
        color: var(--secondary-color);
        text-decoration: none; }
    .lazyblock-cards .card .card-link {
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .lazyblock-cards .card .card-link:focus {
        outline: none; }
    .lazyblock-cards .card.layout-4 .card-img-wrapper {
      max-height: 237px;
      min-height: 237px; }
      .lazyblock-cards .card.layout-4 .card-img-wrapper.small {
        max-height: 160px;
        min-height: 160px; }
        @media (max-width: 992px) {
          .lazyblock-cards .card.layout-4 .card-img-wrapper.small img {
            min-width: auto; } }
    .lazyblock-cards .card.layout-4 .card-body {
      padding: 1rem 1.75rem 0; }

.lazyblock-events .event-item-wrapper, .lazyblock-past-events .event-item-wrapper {
  position: relative;
  padding: 40px 0 0 35px; }
  .lazyblock-events .event-item-wrapper::before, .lazyblock-past-events .event-item-wrapper::before {
    content: "";
    border-left: 10px solid var(--primary-color);
    position: absolute;
    bottom: 0;
    top: 2.6rem;
    left: 0;
    border-radius: var(--border-radius); }
  .lazyblock-events .event-item-wrapper .event-item-date, .lazyblock-past-events .event-item-wrapper .event-item-date {
    font-family: var(--secondary-font);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 28px;
    line-height: 32px;
    color: var(--primary-link-color);
    padding-bottom: .4rem; }
  .lazyblock-events .event-item-wrapper .event-item-title, .lazyblock-past-events .event-item-wrapper .event-item-title {
    padding-bottom: 1rem; }
    .lazyblock-events .event-item-wrapper .event-item-title h4 a, .lazyblock-past-events .event-item-wrapper .event-item-title h4 a {
      color: var(--primary-font-color);
      text-decoration: none; }
  .lazyblock-events .event-item-wrapper .event-item-excerpt, .lazyblock-past-events .event-item-wrapper .event-item-excerpt {
    padding-bottom: 1rem; }
  .lazyblock-events .event-item-wrapper .event-item-cta a, .lazyblock-past-events .event-item-wrapper .event-item-cta a {
    font-family: var(--secondary-font);
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 28px;
    line-height: 16px;
    text-decoration: none;
    text-decoration-color: transparent;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
    .lazyblock-events .event-item-wrapper .event-item-cta a:hover, .lazyblock-past-events .event-item-wrapper .event-item-cta a:hover {
      color: var(--primary-link-color);
      text-decoration: underline;
      text-decoration-color: var(--primary-link-color); }
  @media (max-width: 769px) {
    .lazyblock-events .event-item-wrapper, .lazyblock-past-events .event-item-wrapper {
      padding-right: 0; } }

.lazyblock-events .events-wrapper > div:nth-child(2), .lazyblock-past-events .events-wrapper > div:nth-child(2) {
  padding-top: 25px; }
  .lazyblock-events .events-wrapper > div:nth-child(2)::before, .lazyblock-past-events .events-wrapper > div:nth-child(2)::before {
    top: 1.75rem; }

.lazyblock-news .news-item-wrapper .news-item-category {
  color: #fff;
  background-color: var(--primary-color);
  border-color: transparent;
  padding: 12px 50px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width: auto;
  margin-right: calc(var(--bs-gutter-x)/ 2);
  margin-left: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: .5rem;
  border-radius: var(--border-radius);
  font-family: var(--secondary-font);
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  padding: 5px 25px; }
  .lazyblock-news .news-item-wrapper .news-item-category span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .lazyblock-news .news-item-wrapper .news-item-category:hover {
    background-color: var(--primary-color); }
    .lazyblock-news .news-item-wrapper .news-item-category:hover span {
      transform: scale(1.1); }
  .lazyblock-news .news-item-wrapper .news-item-category:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
  .lazyblock-news .news-item-wrapper .news-item-category .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .lazyblock-news .news-item-wrapper .news-item-category .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-news .news-item-wrapper .news-item-category .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .lazyblock-news .news-item-wrapper .news-item-category .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-news .news-item-wrapper .news-item-category .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .lazyblock-news .news-item-wrapper .news-item-category .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }

.lazyblock-news .news-item-wrapper .news-item-title {
  padding-bottom: 1rem; }
  .lazyblock-news .news-item-wrapper .news-item-title h4 a {
    color: var(--primary-font-color);
    text-decoration: none; }

.lazyblock-news .news-item-wrapper .news-item-excerpt {
  padding-bottom: 1rem; }

.lazyblock-news .news-item-wrapper .news-item-cta a {
  font-family: var(--secondary-font);
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  text-decoration: none;
  text-decoration-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .lazyblock-news .news-item-wrapper .news-item-cta a:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-link-color); }

.secretariat-container {
  max-width: 60%; }

.lazyblock-secretariat .secretariat-content, .lazyblock-secretariat .secretariat-description {
  align-self: center; }

.lazyblock-image img {
  border-radius: calc(var(--border-radius) * 2.5); }

.lazyblock-image-image img {
  border-radius: calc(var(--border-radius) * 2.5); }

.single-event .map iframe {
  width: 100%;
  min-height: 300px; }

.single-event .sponsor-logo img {
  max-height: 300px;
  width: auto; }

.lazyblock-twitter-wall > div {
  width: 100vw; }

.lazyblock-twitter-wall iframe {
  height: 100% !important;
  min-height: 800px; }
  @media (max-width: 992px) {
    .lazyblock-twitter-wall iframe {
      min-height: 500px; } }

.lazyblock-subscribe-form {
  overflow: hidden;
  height: 100%;
  position: relative;
  min-height: 40vh; }
  .lazyblock-subscribe-form .full-image {
    position: absolute;
    width: 100vw;
    min-height: 40vh;
    height: inherit;
    z-index: -10;
    top: initial;
    left: 0;
    padding: 0; }
  @media (max-width: 768px) {
    .lazyblock-subscribe-form .full-image {
      height: inherit; } }
  .lazyblock-subscribe-form .full-color {
    position: absolute;
    min-height: 40vh;
    height: 100%;
    width: 100vw;
    z-index: -10;
    top: initial;
    left: 0;
    padding: 0; }
    .lazyblock-subscribe-form .full-color.primary {
      background-color: var(--primary-color); }
    .lazyblock-subscribe-form .full-color.secondary {
      background-color: var(--secondary-color); }
    .lazyblock-subscribe-form .full-color.supporting {
      background-color: var(--supporting-color); }
  .lazyblock-subscribe-form .subscribe-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 40vh; }
  .lazyblock-subscribe-form h3 {
    padding-bottom: .5rem; }
  .lazyblock-subscribe-form h5 {
    padding-bottom: 2.3rem; }
  .lazyblock-subscribe-form #newsletter-form input {
    margin-bottom: 16px;
    background-color: transparent; }
    .lazyblock-subscribe-form #newsletter-form input::placeholder {
      color: var(--primary-link-color); }
    .lazyblock-subscribe-form #newsletter-form input::-webkit-input-placeholder {
      color: var(--primary-link-color); }
    .lazyblock-subscribe-form #newsletter-form input:-ms-input-placeholder {
      color: var(--primary-link-color); }
  .lazyblock-subscribe-form #newsletter-form .field-button-wrapper {
    margin: 0 auto; }

.lazyblock-jumbotron {
  align-items: center;
  height: 75vh; }
  .lazyblock-jumbotron .full-image {
    position: absolute;
    width: 100vw;
    height: 75vh;
    z-index: -10;
    top: initial;
    left: 0; }
  @media (max-width: 768px) {
    .lazyblock-jumbotron {
      height: 50vh;
      overflow: scroll; }
      .lazyblock-jumbotron .full-image {
        height: inherit; } }
  .lazyblock-jumbotron .full-color {
    height: 75vh; }
    .lazyblock-jumbotron .full-color.primary {
      position: absolute;
      background-color: var(--primary-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    .lazyblock-jumbotron .full-color.secondary {
      position: absolute;
      background-color: var(--secondary-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    .lazyblock-jumbotron .full-color.supporting {
      position: absolute;
      background-color: var(--supporting-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    @media (max-width: 768px) {
      .lazyblock-jumbotron .full-color {
        height: inherit; } }
  .lazyblock-jumbotron.light-mode section h1, .lazyblock-jumbotron.light-mode section h2, .lazyblock-jumbotron.light-mode section div, .lazyblock-jumbotron.light-mode section p {
    color: #fff; }
    .lazyblock-jumbotron.light-mode section h1 *, .lazyblock-jumbotron.light-mode section h2 *, .lazyblock-jumbotron.light-mode section div *, .lazyblock-jumbotron.light-mode section p * {
      color: #fff; }
  .lazyblock-jumbotron section h1 {
    max-width: 100%;
    line-height: 3.6rem;
    margin-bottom: 26px;
    position: relative; }
  .lazyblock-jumbotron section h2 {
    max-width: 80%; }
  .lazyblock-jumbotron section h1 + h2 {
    margin-bottom: 0; }
  .lazyblock-jumbotron section p {
    max-width: 80%;
    margin: 30px auto 0; }
  .lazyblock-jumbotron section a {
    margin-top: 30px; }
  @media (max-width: 768px) {
    .lazyblock-jumbotron section {
      overflow: auto; }
      .lazyblock-jumbotron section h1 {
        max-width: 100%;
        line-height: normal;
        font-size: 2.2rem; }
      .lazyblock-jumbotron section h2 {
        max-width: 100%; } }

.lazyblock-banner {
  align-items: center;
  height: 40vh; }
  .lazyblock-banner .full-image {
    position: absolute;
    width: 100vw;
    height: 40vh;
    z-index: -10;
    top: initial;
    left: 0; }
  @media (max-width: 768px) {
    .lazyblock-banner {
      height: 25vh;
      overflow: scroll; }
      .lazyblock-banner .full-image {
        height: inherit; } }
  .lazyblock-banner .full-color {
    height: 40vh; }
    .lazyblock-banner .full-color.primary {
      position: absolute;
      background-color: var(--primary-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    .lazyblock-banner .full-color.secondary {
      position: absolute;
      background-color: var(--secondary-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    .lazyblock-banner .full-color.supporting {
      position: absolute;
      background-color: var(--supporting-color);
      width: 100vw;
      z-index: -10;
      top: initial;
      left: 0; }
    @media (max-width: 768px) {
      .lazyblock-banner .full-color {
        height: inherit; } }
  .lazyblock-banner.light-mode section h1, .lazyblock-banner.light-mode section h2, .lazyblock-banner.light-mode section div, .lazyblock-banner.light-mode section p {
    color: #fff; }
  .lazyblock-banner section h2 {
    max-width: 100%; }

.lazyblock-faq.faqs .faq-wrapper {
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: none;
  background: var(--supporting-color);
  height: 100%; }
  .lazyblock-faq.faqs .faq-wrapper a {
    text-decoration: none; }
  .lazyblock-faq.faqs .faq-wrapper .faq-titlelink:hover {
    text-decoration: none;
    color: var(--primary-font-color); }
  .lazyblock-faq.faqs .faq-wrapper .faq-titlelink .faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .lazyblock-faq.faqs .faq-wrapper .faq-titlelink .faq-title h5 {
      margin-bottom: 0; }
    .lazyblock-faq.faqs .faq-wrapper .faq-titlelink .faq-title .toggle-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.26rem;
      height: 1.26rem;
      margin-bottom: 0;
      border: 2px solid #fff;
      border-radius: 50%; }
      .lazyblock-faq.faqs .faq-wrapper .faq-titlelink .faq-title .toggle-button span {
        display: inline-block;
        position: absolute;
        width: 13px;
        height: 3px;
        background-color: #fff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
        .lazyblock-faq.faqs .faq-wrapper .faq-titlelink .faq-title .toggle-button span:nth-child(2) {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          opacity: 0; }
  .lazyblock-faq.faqs .faq-wrapper .faq-titlelink.collapsed .faq-title .toggle-button {
    border-color: var(--primary-font-color); }
    .lazyblock-faq.faqs .faq-wrapper .faq-titlelink.collapsed .faq-title .toggle-button span {
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 3px;
      background-color: var(--primary-font-color);
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      .lazyblock-faq.faqs .faq-wrapper .faq-titlelink.collapsed .faq-title .toggle-button span:nth-child(2) {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
  .lazyblock-faq.faqs .faq-wrapper .faq-content *, .lazyblock-faq.faqs .faq-wrapper .faq-content p {
    margin: 1.5rem 2rem 1rem; }
    .lazyblock-faq.faqs .faq-wrapper .faq-content * a, .lazyblock-faq.faqs .faq-wrapper .faq-content p a {
      margin-left: 0; }

.lazyblock-content-video .wrap {
  border-radius: calc(var(--border-radius) * 2.5);
  background-color: #fff;
  box-shadow: 0 0 20px #0000001F;
  padding: 0 2rem; }

.lazyblock-content-video .embed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 769px) {
  .lazyblock-content-video .content-wrapper, .lazyblock-content-video .embed-wrapper {
    padding-left: 0;
    padding-right: 0; } }

.lazyblock-carousel .carousel-inner-wrapper {
  border: none;
  background-color: transparent;
  border-radius: calc(var(--border-radius) * 2.5);
  box-shadow: 0 0 20px #0000001F;
  overflow: hidden; }
  .lazyblock-carousel .carousel-inner-wrapper .row {
    height: 600px;
    width: auto !important;
    display: block !important; }
    @media (max-width: 992px) {
      .lazyblock-carousel .carousel-inner-wrapper .row {
        height: 450px; } }
  .lazyblock-carousel .carousel-inner-wrapper .full-image {
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .lazyblock-carousel .carousel-inner-wrapper .full-image img {
      width: 100%;
      max-width: 100vw;
      height: 100%;
      object-fit: cover; }
      @media (max-width: 992px) {
        .lazyblock-carousel .carousel-inner-wrapper .full-image img {
          max-width: 1000vw; } }
  .lazyblock-carousel .carousel-inner-wrapper .full-color {
    min-height: 100vh;
    position: relative;
    width: 100vw;
    z-index: -10;
    top: 0;
    left: 0; }
    .lazyblock-carousel .carousel-inner-wrapper .full-color.primary {
      background-color: var(--primary-color); }
    .lazyblock-carousel .carousel-inner-wrapper .full-color.secondary {
      background-color: var(--secondary-color); }
    .lazyblock-carousel .carousel-inner-wrapper .full-color.supporting {
      background-color: var(--supporting-color); }
  .lazyblock-carousel .carousel-inner-wrapper .carousel-section {
    position: absolute;
    max-width: 30rem;
    bottom: 70px;
    padding-left: 100px; }
    .lazyblock-carousel .carousel-inner-wrapper .carousel-section.blockquote-line::before {
      content: "";
      border-left: 10px solid var(--secondary-color);
      position: absolute;
      bottom: 1rem;
      top: .2rem;
      left: 65px;
      border-radius: var(--border-radius); }
    @media (max-width: 769px) {
      .lazyblock-carousel .carousel-inner-wrapper .carousel-section.blockquote-line {
        padding-left: 70px; }
        .lazyblock-carousel .carousel-inner-wrapper .carousel-section.blockquote-line::before {
          left: 35px; } }
    .lazyblock-carousel .carousel-inner-wrapper .carousel-section section {
      height: 100%;
      max-height: calc(40vh - 80px);
      overflow: auto; }
      @media (max-width: 769px) {
        .lazyblock-carousel .carousel-inner-wrapper .carousel-section section {
          width: calc(100% - 30px); } }
      .lazyblock-carousel .carousel-inner-wrapper .carousel-section section * {
        color: #fff; }

.lazyblock-carousel .slick-initialized .slick-track {
  display: flex !important;
  align-items: stretch;
  min-height: 100%; }
  .lazyblock-carousel .slick-initialized .slick-track .slick-slide {
    overflow: hidden;
    height: 100%; }

.lazyblock-carousel .slick-slider {
  margin-bottom: 0; }

.lazyblock-carousel .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 20px;
  height: 25px;
  width: 100%; }
  .lazyblock-carousel .slick-dots li {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center; }
  .lazyblock-carousel .slick-dots li.slick-active button:before {
    color: #fff;
    height: 100%;
    width: 100%;
    opacity: 1;
    font-size: initial;
    padding: 0;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; }
  .lazyblock-carousel .slick-dots li button {
    height: 100%;
    width: 100%;
    padding: 0; }
    .lazyblock-carousel .slick-dots li button:before {
      color: transparent;
      height: 100%;
      width: 100%;
      opacity: 1; }

@media (max-width: 769px) {
  .lazyblock-carousel {
    margin-left: 0;
    margin-right: 0; } }

.lazyblock-google-map .mapouter {
  position: relative;
  text-align: right;
  overflow: hidden; }

.lazyblock-google-map .gmap_canvas {
  overflow: hidden;
  border-radius: calc(var(--border-radius) * 2.5);
  height: 100%; }
  .lazyblock-google-map .gmap_canvas iframe {
    min-height: 400px !important; }

.lazyblock-google-map .card {
  border: none;
  border-radius: calc(var(--border-radius) * 2.5);
  background-color: #fff;
  box-shadow: 0 0 15px #0000001F;
  overflow: hidden;
  padding: 2.5rem 2.2rem; }
  .lazyblock-google-map .card .card-body {
    padding: 0; }
    .lazyblock-google-map .card .card-body .title {
      padding-bottom: 1.3rem; }
  .lazyblock-google-map .card .location-wrapper {
    padding-bottom: 1.3rem; }
    .lazyblock-google-map .card .location-wrapper.blockquote-line {
      position: relative;
      padding: 0 0 0 35px; }
      .lazyblock-google-map .card .location-wrapper.blockquote-line::before {
        content: "";
        border-left: 10px solid var(--secondary-color);
        position: absolute;
        bottom: .3rem;
        top: .3rem;
        left: 0;
        border-radius: var(--border-radius); }
    .lazyblock-google-map .card .location-wrapper .location {
      margin-bottom: 0; }
    .lazyblock-google-map .card .location-wrapper .phone a {
      color: var(--primary-font-color);
      text-decoration: none; }
      .lazyblock-google-map .card .location-wrapper .phone a:hover {
        color: inherit; }

.lazyblock-jobs .job-item-wrapper .job-item-category {
  color: #fff;
  background-color: var(--primary-color);
  border-color: transparent;
  padding: 12px 50px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width: auto;
  margin-right: calc(var(--bs-gutter-x)/ 2);
  margin-left: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: .5rem;
  border-radius: var(--border-radius);
  font-family: var(--secondary-font);
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  padding: 5px 25px; }
  .lazyblock-jobs .job-item-wrapper .job-item-category span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .lazyblock-jobs .job-item-wrapper .job-item-category:hover {
    background-color: var(--primary-color); }
    .lazyblock-jobs .job-item-wrapper .job-item-category:hover span {
      transform: scale(1.1); }
  .lazyblock-jobs .job-item-wrapper .job-item-category:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
  .lazyblock-jobs .job-item-wrapper .job-item-category .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .lazyblock-jobs .job-item-wrapper .job-item-category .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-jobs .job-item-wrapper .job-item-category .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .lazyblock-jobs .job-item-wrapper .job-item-category .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-jobs .job-item-wrapper .job-item-category .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .lazyblock-jobs .job-item-wrapper .job-item-category .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }

.lazyblock-jobs .job-item-wrapper .job-item-title {
  padding-bottom: 1rem; }
  .lazyblock-jobs .job-item-wrapper .job-item-title h4 a {
    color: var(--primary-font-color);
    text-decoration: none; }

.lazyblock-jobs .job-item-wrapper .job-item-excerpt {
  padding-bottom: 1rem; }

.lazyblock-jobs .job-item-wrapper .job-item-cta a {
  font-family: var(--secondary-font);
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  text-decoration: none;
  text-decoration-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .lazyblock-jobs .job-item-wrapper .job-item-cta a:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-link-color); }

.lazyblock-content-image img {
  border-radius: calc(var(--border-radius) * 2.5); }

.lazyblock-projects .project-item-wrapper .project-item-img-wrapper {
  max-height: 185px;
  min-height: 185px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; }
  .lazyblock-projects .project-item-wrapper .project-item-img-wrapper img {
    top: 0;
    min-width: 100%;
    width: auto;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: calc(var(--border-radius) * 1.5); }
    @media (max-width: 992px) {
      .lazyblock-projects .project-item-wrapper .project-item-img-wrapper img {
        max-width: 1000vw;
        object-fit: cover; } }

.lazyblock-projects .project-item-wrapper .project-item-category {
  color: #fff;
  background-color: var(--primary-color);
  border-color: transparent;
  padding: 12px 50px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width: auto;
  margin-right: calc(var(--bs-gutter-x)/ 2);
  margin-left: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: .5rem;
  border-radius: var(--border-radius);
  font-family: var(--secondary-font);
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  padding: 5px 25px; }
  .lazyblock-projects .project-item-wrapper .project-item-category span {
    color: #fff;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .lazyblock-projects .project-item-wrapper .project-item-category:hover {
    background-color: var(--primary-color); }
    .lazyblock-projects .project-item-wrapper .project-item-category:hover span {
      transform: scale(1.1); }
  .lazyblock-projects .project-item-wrapper .project-item-category:focus {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
  .lazyblock-projects .project-item-wrapper .project-item-category .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--primary-color);
    color: #fff; }
    .lazyblock-projects .project-item-wrapper .project-item-category .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-projects .project-item-wrapper .project-item-category .btn-secondary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--secondary-color);
    color: #fff; }
    .lazyblock-projects .project-item-wrapper .project-item-category .btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }
  .lazyblock-projects .project-item-wrapper .project-item-category .btn-supporting:not(:disabled):not(.disabled):active {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--supporting-color);
    color: #fff; }
    .lazyblock-projects .project-item-wrapper .project-item-category .btn-supporting:not(:disabled):not(.disabled):active:focus {
      box-shadow: none; }

.lazyblock-projects .project-item-wrapper .project-item-title {
  padding-bottom: 1rem; }
  .lazyblock-projects .project-item-wrapper .project-item-title h4 a {
    color: var(--primary-font-color);
    text-decoration: none; }

.lazyblock-projects .project-item-wrapper .project-item-excerpt {
  padding-bottom: 1rem; }

.lazyblock-projects .project-item-wrapper .project-item-cta a {
  font-family: var(--secondary-font);
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 28px;
  line-height: 16px;
  text-decoration: none;
  text-decoration-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .lazyblock-projects .project-item-wrapper .project-item-cta a:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-link-color); }

.lazyblock-projects .project-item-wrapper .project-item-full-info .project-item-category {
  margin-left: 0;
  display: inline-flex; }

::selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none; }

.flex-centered {
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center; }

.grecaptcha-badge {
  visibility: collapse !important; }

.inline {
  display: inline-block; }
