// Import all your scss file in here and setup all code that is to specific or needs a higher level, keep this as clean as possible

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Nunito:wght@400;600;700&family=Roboto+Slab:wght@400;500;700&display=swap');
@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";
@import "utilities/mixins";
@import "utilities/list_reset";
@import "utilities/flex_centered";
@import "base/breakpoints";
@import "base/colors";
@import "base/header";
@import "base/typography";
@import "base/reset";
@import "base/navbar";
@import "base/navbar-flyout";
@import "base/footer";
@import "base/forms";
@import "base/slick";
@import "base/buttons";
@import "base/default_paddings";
@import "components/forms";
@import "components/icon-bar";
@import "components/pagination";
@import "components/search-form";
@import "components/spacer";
@import "components/headings";
@import "components/content";
@import "components/content-content";
@import "components/section";
@import "components/cards";
@import "components/events";
@import "components/news";
@import "components/secretariat";
@import "components/image";
@import "components/image-image";
@import "components/single-event";
@import "components/twitter-wall";
@import "components/subscribe_form";
@import "components/jumbotron";
@import "components/banner";
@import "components/embed";
@import "components/faqs";
@import "components/content-video";
@import "components/carousel";
@import "components/google-map";
@import "components/jobs";
@import "components/content-image";
@import "components/projects";

::selection {
    background-color: $primary-color;
    color: $white-color;
    text-shadow: none;
}

::-moz-selection {
    background-color: $primary-color;
    color: $white-color;
    text-shadow: none;
}

.flex-centered {
    @include flex-centered;
}

.grecaptcha-badge {
    visibility: collapse !important;
}

.inline {
    display: inline-block;
}
