@mixin button($button-type: '') {
    @if $button-type == btn {
        min-width: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        @include border-radius($border-radius);
        @include secondaryFont(1.2rem, 700);
        @include transition();
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: none;
        text-decoration: none;
    }

    @if $button-type == primary {

        color: $white-color;
        background-color: $primary-color;
        border-color: transparent;
        padding: 12px 50px;
        @include transition();

        & span {
            color: $white-color;
            @include transition(.5s);
        }

        &:hover {
            background-color: $primary-color;
            span {
                transform: scale(1.1);
            }
        }
        &:focus {
            border-color: transparent;
            box-shadow: none;
            background-color: $primary-color;
            color: $white-color;

        }

    }

    @if $button-type == secondary {

        color: $white-color;
        background-color: $secondary-color;
        border-color: transparent;
        padding: 8px 25px;
        @include transition();

        & span {
            color: $white-color;
            @include transition(.5s);
        }

        &:hover {
            background-color: $secondary-color;
            span {
                transform: scale(1.1);
            }
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;
            background-color: $secondary-color;
            color: $white-color;
        }
    }

    @if $button-type == supporting {

        color: $white-color;
        background-color: $supporting-color;
        border-color: transparent;
        padding: 8px 25px;
        @include transition();

        & span {
            color: $white-color;
            @include transition(.5s);
        }

        &:hover {
            background-color: $supporting-color;
            span {
                transform: scale(1.1);
            }
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;
            background-color: $supporting-color;
            color: $white-color;
        }
    }

    .btn {
        &-primary:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: $primary-color;
            color: $white-color;

            &:focus {
                box-shadow: none;
            }
        }
        &-secondary:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: $secondary-color;
            color: $white-color;

            &:focus {
                box-shadow: none;
            }
        }

        &-supporting:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: $supporting-color;
            color: $white-color;

            &:focus {
                box-shadow: none;
            }
        }
    }
}
