.lazyblock-banner {
    align-items: center;
    height: 40vh;
    .full-image {
        position: absolute;
        width: 100vw;
        height: 40vh;
        z-index: -10;
        top: initial;
        left: 0;
    }
    @media (max-width: $md) {
        height: 25vh;
        overflow: scroll;
        .full-image {
            height: inherit;
        }
    }
    .full-color {
        height: 40vh;
        &.primary {
            position: absolute;
            background-color: $primary-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        &.secondary {
            position: absolute;
            background-color: $secondary-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        &.supporting {
            position: absolute;
            background-color: $supporting-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        @media (max-width: $md) {
            height: inherit;
        }
    }
    &.light-mode {
        section {
            h1,h2,div,p {
                color: $white-color;
            }
        }
    }
   section {
       h2 {
           max-width: 100%;
       }
   }
}
