.lazyblock-carousel {
    .carousel-inner-wrapper {
        border: none;
        background-color: transparent;
        @include border-radius(calc(#{$border-radius} * 2.5));
        @include boxShadow($shadow-card);
        overflow: hidden;
        .row {
            height: 600px;
            width: auto !important;
            display: block !important;
            @media (max-width: $lg) {
                height: 450px;
            }
        }
        .full-image {
            height: 100%;
            z-index: -10;
            top: 0;
            left: 0;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //@include border-radius(calc(#{$border-radius} * 2.5));
            img {
                width: 100%;
                max-width: 100vw;
                height: 100%;
                object-fit: cover;
                @media (max-width: $lg) {
                    max-width: 1000vw; // leave this if object-fit is not supported
                }
            }
        }
        .full-color {
            min-height: 100vh;
            position: relative;
            width: 100vw;
            z-index: -10;
            top: 0;
            left: 0;
            //@include border-radius(calc(#{$border-radius} * 2.5));
            &.primary {
                background-color: $primary-color;
            }
            &.secondary {
                background-color: $secondary-color;
            }
            &.supporting {
                background-color: $supporting-color;
            }
        }
        .carousel-section {
            position: absolute;
            max-width: 30rem;
            bottom: 70px;
            padding-left: 100px;
            &.blockquote-line {
                    &::before {
                        content: "";
                        border-left: 10px solid $secondary-color;
                        position: absolute;
                        bottom: 1rem;
                        top: .2rem;
                        left: 65px;
                        @include border-radius($border-radius);
                    }
                @media (max-width: $md + 1px) {
                    padding-left: 70px;
                    &::before {
                        left: 35px;
                    }
                }
            }
            section {
                height: 100%;
                max-height: calc(40vh - 80px);
                overflow: auto;
                @media (max-width: $md + 1px) {
                    width: calc(100% - 30px);
                }
                * {
                    color: $white-color;
                }
            }
        }
    }

    .slick-initialized .slick-track{
        display: flex !important;
        align-items: stretch;
        min-height: 100%;
        //height: 100%;
        .slick-slide{
            overflow: hidden;
            height: 100%;
        }
    }

    .slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 20px;
        height: 25px;
        width: 100%;

        li {
            width: 25px;
            height: 25px;
            border: 2px solid $white-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        li.slick-active button:before {
            color: $white-color;
            height: 100%;
            width: 100%;
            opacity: 1;
            font-size: initial;
            padding: 0;
            line-height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li button {
            height: 100%;
            width: 100%;
            padding: 0;
            &:before {
                color: transparent;
                height: 100%;
                width: 100%;
                opacity: 1;
            }
        }
    }
    @media (max-width: $md + 1px) {
        margin-left: 0;
        margin-right: 0;
    }
}
