.lazyblock-cards {
    align-items: stretch;
    position: relative;
    .card {
        border: none;
        @include border-radius(calc(#{$border-radius} * 2.5));
        background-color: $white-color;
        @include boxShadow($shadow-card);
        overflow: hidden;
        .card-img-wrapper {
            max-height: 185px;
            min-height: 185px;
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            img {
                top: 0;
                min-width: 100%;
                width: auto;
                max-width: 100vw;
                height: 100%;
                object-fit: cover;
                @media (max-width: $lg) {
                    max-width: 1000vw; // leave this if object-fit is not supported
                    object-fit: cover;
                }
            }
            .image-line {
                &::after {
                    content: "";
                    border-bottom: 10px solid $secondary-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 185px;
                }
            }

        }
        .card-body {
            display: flex;
            padding: 1.75rem 2rem 0;
            .card-title {
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                p {
                    @include secondaryFont(1rem, 700);
                    line-height: 24px;
                }
            }
            .card-text {
                height: 100%;
            }
        }
        .card-footer {
            border: none;
            background-color: transparent;
            padding: 0 2rem 1.75rem;
            a {
                height: 100%;
                width: 100%;
                display: block;
                @include secondaryFont(.87rem, 600);
                color: $secondary-color;
                text-decoration: none;
            }
        }
        .card-link {
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            &:focus {
                outline: none;
            }
        }

        &.layout-4 {
            .card-img-wrapper {
                max-height: 237px;
                min-height: 237px;
                &.small {
                    max-height: 160px;
                    min-height: 160px;
                    img {
                        @media (max-width: $lg) {
                          min-width: auto;
                        }
                    }
                }
            }
            .card-body {
                padding: 1rem 1.75rem 0;
            }
        }
    }
}
