.lazyblock-content-content {
    p {
        margin: 1.2rem 0;
    }
    .blockquote-line {
        * {
            position: relative;
            padding: 0 0 0 35px;
           &::before {
               content: "";
               border-left: 10px solid $secondary-color;
               position: absolute;
               bottom: .3rem;
               top: .3rem;
               left: 0;
               @include border-radius($border-radius);
           }
        }
    }
}
