.lazyblock-events , .lazyblock-past-events {
    .event-item-wrapper {
            position: relative;
            padding: 40px 0 0 35px;
            &::before {
                content: "";
                border-left: 10px solid $primary-color;
                position: absolute;
                bottom: 0;
                top: 2.6rem;
                left: 0;
                @include border-radius($border-radius);
            }
        .event-item-date {
            @include secondaryFont(1.75rem , 700);
            line-height: 32px;
            color: $primary-link-color;
            padding-bottom: .4rem;
        }
        .event-item-title {
            padding-bottom: 1rem;
            h4 {
                a {
                    color: $primary-font-color;
                    text-decoration: none;
                }
            }
        }
        .event-item-excerpt {
            padding-bottom: 1rem;
        }
        .event-item-cta {
            a {
                @include secondaryFont(.85rem, 700);
                line-height: 16px;
                text-decoration: none;
                text-decoration-color: transparent;
                @include transition();
                &:hover {
                    color: $primary-link-color;
                    text-decoration: underline;
                    text-decoration-color: $primary-link-color;
                }
            }
        }
        @media (max-width: $md + 1px) {
            padding-right: 0;
        }
    }
    .events-wrapper {
      > div:nth-child(2) {
            padding-top: 25px;
            &::before {
                top: 1.75rem;
            }
        }
    }
}
