.lazyblock-form {
    overflow: hidden;
    @include border-radius(calc(#{$border-radius} * 2.5));
    height: auto;
    background-color: $white-color;
    @include boxShadow($shadow-card);
    padding: 3rem 5rem;
    h2 {
        padding-bottom: 3rem;
    }
    #contact-form {
        .contact-information {
            display: flex;
            flex-flow: column wrap;
            align-items: stretch;
            justify-content: space-between;
        }
        #contactSubmit {
            margin-top: 3rem;
        }
    }
    input, textarea {
        margin-bottom: 16px;
        background-color: transparent;
        &::placeholder {
            color: $primary-link-color;
        }
        &::-webkit-input-placeholder {
            color: $primary-link-color;
        }
        &:-ms-input-placeholder {
            color: $primary-link-color;
        }
    }
}
