.lazyblock-google-map {
    .mapouter {
        position: relative;
        text-align: right;
        overflow: hidden;
    }

    .gmap_canvas {
        overflow: hidden;
        @include border-radius(calc(#{$border-radius} * 2.5));
        height: 100%;
        iframe {
            min-height: 400px !important;
        }
    }
    .card {
        border: none;
        @include border-radius(calc(#{$border-radius} * 2.5));
        background-color: $white-color;
        box-shadow: 0 0 15px #0000001F;
        overflow: hidden;
        padding: 2.5rem 2.2rem;
        .card-body {
            padding: 0;
            .title {
                padding-bottom: 1.3rem;
            }
        }
        .location-wrapper {
            padding-bottom: 1.3rem;
            &.blockquote-line {
                    position: relative;
                    padding: 0 0 0 35px;
                    &::before {
                        content: "";
                        border-left: 10px solid $secondary-color;
                        position: absolute;
                        bottom: .3rem;
                        top: .3rem;
                        left: 0;
                        @include border-radius($border-radius);
                    }
            }
            .location {
                margin-bottom: 0;
            }
            .phone {
                a {
                    color: var(--primary-font-color);;
                    text-decoration: none;
                    &:hover {
                        color: inherit;
                    }
                }
            }
        }

    }
}
