.lazyblock-jumbotron {
    align-items: center;
    height: 75vh;
    .full-image {
        position: absolute;
        width: 100vw;
        height: 75vh;
        z-index: -10;
        top: initial;
        left: 0;
    }
    @media (max-width: $md) {
        height: 50vh;
        overflow: scroll;
        .full-image {
            height: inherit;
        }
    }
    .full-color {
        height: 75vh;
        &.primary {
            position: absolute;
            background-color: $primary-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        &.secondary {
            position: absolute;
            background-color: $secondary-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        &.supporting {
            position: absolute;
            background-color: $supporting-color;
            width: 100vw;
            z-index: -10;
            top: initial;
            left: 0;
        }
        @media (max-width: $md) {
            height: inherit;
        }
    }
    &.light-mode {
        section {
            h1,h2,div,p {
                color: $white-color;
                * {
                    color: $white-color;
                }
            }
        }
    }
   section {
       h1 {
        max-width: 100%;
        line-height: 3.6rem;
        margin-bottom: 26px;
        position: relative;
       }
       h2 {
           max-width: 80%;
       }
       h1 + h2 {
           margin-bottom: 0;
       }
       p {
           max-width: 80%;
           margin: 30px auto 0;
       }
       a {
           margin-top: 30px;
       }
       @media (max-width: $md) {
           overflow: auto;
           h1 {
               max-width: 100%;
               line-height: normal;
               font-size: 2.2rem;
           }
           h2 {
               max-width: 100%;
           }
       }

   }

}
