nav.pagination {
     > * {
        line-height: 36px !important;
        font-size:18px !important;
    }
    h2 {
        margin-right: 15px;
    }

    .nav-links > * {
        padding: 0 2px;
    }
}