.lazyblock-projects {
    .project-item-wrapper {
        .project-item-img-wrapper {
            max-height: 185px;
            min-height: 185px;
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            img {
                top: 0;
                min-width: 100%;
                width: auto;
                max-width: 100vw;
                height: 100%;
                object-fit: cover;
                @include border-radius(calc(#{$border-radius} * 1.5));
                @media (max-width: $lg) {
                    max-width: 1000vw; // leave this if object-fit is not supported
                    object-fit: cover;
                }
            }
        }
        .project-item-category {
            @include button(primary);
            width: auto;
            margin-right: calc(var(--bs-gutter-x)/ 2);
            margin-left: calc(var(--bs-gutter-x)/ 2);
            margin-bottom: .5rem;
            @include border-radius($border-radius);
            @include secondaryFont(.65rem, 700);
            line-height: 16px;
            padding: 5px 25px;
        }
        .project-item-title {
            padding-bottom: 1rem;
            h4 {
                a {
                    color: $primary-font-color;
                    text-decoration: none;
                }
            }
        }
        .project-item-excerpt {
            padding-bottom: 1rem;
        }
        .project-item-cta {
            a {
                @include secondaryFont(.85rem, 700);
                line-height: 16px;
                text-decoration: none;
                text-decoration-color: transparent;
                @include transition();
                &:hover {
                    color: $primary-link-color;
                    text-decoration: underline;
                    text-decoration-color: $primary-link-color;
                }
            }
        }
        .project-item-full-info {
            .project-item-category {
                margin-left: 0;
                display: inline-flex;
            }
        }
    }
}
