.search-form {
    button {
        border:0 solid;
        background: transparent;
        color: $white-color;
    }

    input{
        padding: 2px 5px;
        border: 1px solid #029EA3;
        border-radius: 5px;
    }
}

.search-form-item {
    align-self: center;
    @media all and (max-width: 1285px) {
        display: none !important;
    }
}

.search-wrapper {
    border-bottom: 1px solid #223B4C;
}
