.lazyblock-twitter-wall {
    > div {
        width: 100vw;
    }
  iframe {
    height: 100% !important;
      @media (max-width: $lg) {
          min-height: 500px;
      }
    min-height: 800px;
  }
}
