.btn {
    @include button(btn);
}
.btn-primary {
    @include button(primary);
    &.outline {
        background-color: transparent;
        color: $primary-color;
        border: .2rem solid $primary-color;
    }
}
.btn-secondary {
    @include button(secondary);
    &.outline {
        background-color: transparent;
        color: $secondary-color;
        border: .2rem solid $secondary-color;
    }
}
.btn-supporting {
    @include button(supporting);
    &.outline {
        background-color: transparent;
        color: $supporting-color;
        border: .2rem solid $supporting-color;
    }
}
