main {
    [class*='lazyblock-']  {

        background-color: transparent;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        @media all and (max-width: $md) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    .main-content,.single-post-wrapper,.single-event-wrapper,.single-job-wrapper,.single-project-wrapper {
        div:last-of-type {
            &.lazyblock-subscribe-form {
                padding-bottom: 0;
            }
        }
    }
}
