.form-control {
    @include secondaryFont(1.25rem , 700);
    line-height: 28px;
    border: none;
    border-bottom: 2px solid $primary-link-color;
    border-radius: 0;
    color: $primary-link-color;
    &:focus {
        border-color: transparent;
        box-shadow: none;
        color: $primary-link-color;
        border-bottom: 2px solid $primary-link-color;
    }
}

.form-check {
    padding-left: 0;

    input {
        margin-top: 0;
        margin-left: 0;
    }
}
