// Flyout menu fullscreen
.menu-flyout, .menu-flyout-small {
    flex-flow: row wrap;
    .large, .small {
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        z-index: 999;
        @media (min-width: $lg + 1px) {
            align-items: center;
            min-height: 120px;
            padding: 0;
        }
    }
}
.navbar-brand, .overlay-brand {
    z-index: 20;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 50px;

    a {
        text-decoration: none;
        color: $color-text;
        @include transition();
        padding-right: 24px;
        @include secondaryFont(1.25rem, 700);
        @media (max-width: $lg) {
            padding-right: 20px;
        }

        &:hover {
            @include transition();
            color: $primary-link-color;
        }

        img {
            width: auto;
            max-height: 60px;
            height: 100%;
            @media (max-width: $ipad) {
                max-height: 50px;
                height: 100%;
            }
        }
    }
}
.overlay-brand {
    margin-bottom: 40%;
    a {
        padding-right: 0;
    }
}
    .menu-button-wrapper {
        cursor: pointer;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        z-index: 9999;
        height: 100%;
        width: 40px;

        .menu-button {
            width: 40px;
            height: 40px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transition(.2s);
            cursor: pointer;
            display: flex;
            align-items: center;


            span {
                display: block;
                position: absolute;
                right: 0;
                width: 40px;
                height: 8px;
                background: $primary-color;
                opacity: 1;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                @include transition(.2s);
                top: 2px;

                &:nth-child(4) {
                    background: $primary-color;
                }
            }

            span:nth-child(2), span:nth-child(3) {
                top: auto;
            }

            &:not(.open):hover {
                // If we want something for hover?
            }

            span:nth-child(4) {
                top: 30px;
            }

            &.open span:nth-child(1),
            &.open span:nth-child(4) {
                top: 12px;
                width: 0;
                opacity: 0;
            }

            &.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                background: $white-color;
            }

            &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                background: $white-color;
            }
        }
    }
#nav-menu-overlay, #nav-menu-overlay-small {
    display: flex;
    color: $white-color;
    top: 0;
    position: fixed;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    right: -100vw;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background-color: $primary-color;
    z-index: 999;
    &.open {
        right: 0;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
    }
    .menu-content {
        justify-content: center;
        height: 100vh;
        margin: 0 auto;
        flex-flow: column;
        @include flex-centered;
        .main-menu {
                align-items: center;
                padding: 0;
                margin: 0 0 30% 0;
                text-align: center;
                li {
                    @include list_reset;
                    white-space: nowrap;
                    a {
                        text-transform: uppercase;
                        @include secondaryFont(1.25rem, 700);
                        text-decoration: none;
                        margin-bottom: 1.5rem;
                        padding: 0;
                    }
                    &.active {
                        a {
                            color: $white-color;
                            text-decoration: underline;
                        }
                    }
            }

        }
        .menu-main-menu-container {
            display: flex;
        }
        a {
            color: $white-color;
        }
        #social-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            .social-icon {
                a {
                    margin-right: .9rem;
                    i {
                        color: $primary-color;
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        background-color: $white-color;

                        &:before {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }

                }
            }
        }
        .languages {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            a {
                color: $white-color;
                @include secondaryFont(1.25rem, 700);
                line-height: 28px;
                padding-right: .9rem;
                &:last-child {
                    padding-right: 0;
                }
            }
            .current-language {
                a {
                    padding-right: .9rem;
                    color: $white-color;
                    text-decoration: underline;
                }
            }
            .other-language {
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
#nav-menu-overlay-small {
    width: 60vw;
    @media (min-width: $md) {
        width: 50vw;
    }
    @media (min-width: $lg) {
        width: 40vw;
    }
    @media (min-width: $xl) {
        width: 30vw;
    }
    @media (min-width: $xxl) {
        width: 20vw;
    }
}
