// Basic reset on the html,body,img,main-container or a element
html, body {
    height: auto;
    min-height: 100vh;
    scroll-behavior: smooth;

    @media all and (max-width: $lg) {
        font-size: 14px;
    }
    @media all and (min-width: $lg) {
        font-size: 16px;
    }
    @media all and (min-width: $xl) {
        font-size: 18px;
    }
    @media all and (min-width: 2560px) {
        font-size: 20px;
    }
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    @media all and (min-width: 1500px) {
        .container-md {
            max-width: 1310px;
        }
    }
    @media all and (min-width: 1920px) {
        .container-md {
             max-width: $xxl;
        }
    }

    main {
        flex: 1 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
        display: flex;
        margin: auto;
    }
}
